body {
    --interval: 0.75pc;
    --card: 3pc;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

aside {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.8s ease;
}

.open-sidebar {
    left: 0;
    opacity: 1;
}

.close-sidebar {
    left: calc(-1 * var(--card) - 3 * var(--interval));
    opacity: 0;
}

.toolbar {
    width: calc(2 * var(--interval) + var(--card));
    margin: calc(var(--interval) / 2);
    border: none;
    border-radius: calc(2 * var(--interval));
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.3);
    background: rgba(240, 240, 240, 0.5);
    backdrop-filter: blur(6px);
}

.panel {
    flex: 1;
    overflow-y: auto;
}

.indicators {
    height: calc(3 * var(--interval) + 2 * var(--card));
}

.button, .tool {
    width: var(--card);
    height: var(--card);
    margin: var(--interval);
    border-radius: var(--interval);
    box-shadow: 0 0 var(--interval) rgba(0, 0, 0, 0.08);
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    transition: ease 0.2s;
}

.button:hover, .tool:hover {
    box-shadow: 0 0 calc(0.2 * var(--interval)) rgba(0, 0, 0, 0.02);
    transition: ease 0.2s;
}

.button:active, .tool:active {
    background: rgba(250, 250, 250, 0.8);
    transition: none;
}

.selected {
    background: rgba(200, 216, 255, 0.8);
    transition: ease 0.2s;

    svg {
        fill: rgb(64, 120, 255);
        transition: ease 0.2s;
    }
}

.reserved {
    position: absolute;
    bottom: calc(0.5 * var(--interval));
    transition: 1s ease;
}

.open-reserved {
    left: calc(0.5 * var(--interval));
    opacity: 1;
}

.close-reserved {
    left: calc(-1 * var(--card));
    opacity: 0;
}

svg {
    width: calc(var(--card) / 2);
    height: calc(var(--card) / 2);
    transition: ease 0.2s;
}

canvas {
    z-index: -1;
}

dialog {

}

@media (prefers-color-scheme: dark) {
    svg {
        fill: white;
    }
}